@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to our Session App </h1>
    <form action="/login" method="post">
        <label for="Name">Name : </label>
        <input type="text" name="Name" class="form-control">
        <label for="Num"> Number :</label>
        <input type="number" name="Num" class="form-control">
        <input type="submit" value="Login" class="btn btn-info">
    </form>
</div>
